/*This is a container the size of the viewport so that I can place everything in relation
to the viewport boundaries. This allows all of the elements to scale with screen size and window size.*/
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    }

/*This is for the header image*/
img {
    position: absolute;
    left: 25%;
    width: 50%;
}

/*This places the header text in the topright of the header image*/
.topright {
    position: absolute;
    top: 1%;
    left: 51%;
    color: white;
    text-shadow: 3px 2px black;
    font-size: 3.3vw;
}

/*This is for links to important pages on the site.*/
.links_block {
    position: absolute;
    top: 56.1%;
    left: 5%;
    width: 20%;
    height: 444%;
    background-color: DarkGray;
}

/*This is the background for a picture of myself and a small blurb about myself under it.*/
.profile_block {
    position: absolute;
    top: 56.1%;
    right: 5%;
    width: 20%;
    height: 444%;
    background-color: DarkGray;
}

.profile_pic_block {
    position: absolute;
    top: 20px;
    width: 80%;
    left: 10%;
    border-color: #47476b;
    border-style: solid;
    border-width: 4px;
}

.profile_text {
    position: absolute;
    top: 220px;
    left: 10px;
    right: 10px;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 100;
}

/*This is the text for important page links.*/
h2 {
    position: relative;
    top: 20px;
    left: 5%;
}

/*This is just the link to my CV.*/
a {
    position: relative;
    top: 30px;
    left: 5%;
}


.far_background_left {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 25%;
    height: 500%;
    background-color: DarkCyan;
}


.far_background_right {
    position: absolute;
    top: 0%;
    left: 75%;
    width: 25%;
    height: 500%;
    background-color: DarkCyan;
}

.front_page_text_background {
    position: absolute;
    left: 25%;
    width: 50%;
    height: auto;
    background-color: white;
}

.front_page_text {
    position: absolute;
    top: 60%;
    left: 27%;
}

/*This is for hyperlinks.*/
.inline_link {
    top: 0px;
    left: 0px;
    display: inline;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 100;
}
